target/
.idea/
.settings/
.svn/
.project
.classpath
/Web-2/
/Web/.codeServerWorkDir/
/Web/.externalToolBuilders/

# https://tips.seebrock3r.me/share-settings-with-the-team-a-year-later-e28c24fc07aa

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws

# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyleSettings.xml
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
